{% extends 'base.html.twig' %}

{% block title %}Works{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('works') }}
{% endblock %}

{% block body %}
    {% include 'shared/title.html.twig' with {
        'title': 'Explore Works',
        'subtitle': 'My photo portfolio',
    } only %}

    <main class="my-8 md:mt-0">
        {% include 'shared/tags.html.twig' with {
            'tags': tags
        } only %}

        {% include 'shared/masonry.html.twig' with {
            'images': images
        } only %}
    </main>
{% endblock %}
