{% extends 'base.html.twig' %}

{% block title %}Works{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('works') }}
{% endblock %}

{% block body %}
    <div class="uppercase text-center font-bold mt-12 mb-8 md:mb-24 md:mt-28">
        <h2>My photo portfolio</h2>
        <hr>
        <h1 class="text-4xl">Explore Works</h1>
    </div>

    <main class="my-8 md:mt-0">
        <section id="tags" class="flex flex-nowrap overflow-x-auto scrollbar-none px-2">
            <div class="flex items-center">
                <i data-feather="chevron-left"></i>
            </div>

            {% for tag in 0..5 %}
                <div class="flex flex-0 items-center justify-center w-80 h-52 border-2 border-amber-50 mx-4">
                    Card
                </div>
            {% endfor %}

            <div class="flex items-center">
                <i data-feather="chevron-right"></i>
            </div>
        </section>

        <section class="px-12 mt-16">
            Masonry
        </section>
    </main>

    <footer class="mt-4 mb-8 px-4 flex flex-col text-center w-full
            md:absolute md:bottom-0 md:flex-row md:mb-0 md:justify-between">
        <div class="flex flex-row justify-center mb-8">
            <a href="#" class="hover:text-white mx-5"><i data-feather="facebook"></i></a>
            <a href="#" class="hover:text-white mx-5"><i data-feather="twitter"></i></a>
            <a href="#" class="hover:text-white mx-5"><i data-feather="instagram"></i></a>
            <a href="#" class="hover:text-white mx-5"><i data-feather="youtube"></i></a>
        </div>

        <p class="uppercase font-bold">Copyright &copy; 2020. <span class="inline-block">All Rights Reserved.</span></p>
    </footer>
{% endblock %}
