{% extends 'base.html.twig' %}

{% block title %}Works{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('works') }}
{% endblock %}

{% block body %}
    {% include 'shared/title.html.twig' with {
        'title': 'Explore Works',
        'subtitle': 'My photo portfolio',
    } only %}

    <main class="my-8 md:mt-0">
        {% include 'shared/tags.html.twig' with {
            'tags': tags
        } only %}

        <section class="px-5 mt-16 grid gap-5 grid-cols-1 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-8">
            {# TODO: Make auto loading/infinite scroll to save data #}
            {% for image in images %}
                <div class="rounded shadow-md shadow-black {% if image.large %}md:col-span-2 md:row-span-2{% endif %}">
                    <img src="{{ image.url }}" class="w-full h-full rounded" alt="">
                </div>
            {% endfor %}
        </section>

        {# Restore scroll position #}
        <button id="down" class="fixed top-32 -right-24 h-12 w-24 shadow-md shadow-black rounded-l flex justify-start items-center
                        border-2 border-r-0 border-[#808080] group bg-black z-30 ease-out duration-500
                        md:top-48">
            <i class="group-hover:animate-bounce mx-4" data-feather="chevron-down"></i>
        </button>

        {# Scroll to top #}
        <button id="up" class="fixed bottom-10 -right-24 h-12 w-24 shadow-md shadow-black rounded-l flex justify-start items-center
                        border-2 border-r-0 border-[#808080] group bg-black z-30 ease-out duration-500">
            <i class="group-hover:animate-bounce mx-4" data-feather="chevron-up"></i>
        </button>
    </main>
{% endblock %}
