{% extends 'base.html.twig' %}

{% block title %}Website | Home{% endblock %}

{% block body %}
    CONTENT

    <footer class="fixed bottom-0 w-full">
        <div class="flex flex-row justify-between mx-12 my-6 text-sm">
            <ul class="flex flex-row">
                <li class="mr-10"><a href="#">Fb</a></li>
                <li class="mr-10"><a href="#">Tw</a></li>
                <li class="mr-10"><a href="#">In</a></li>
                <li><a href="#">Yt</a></li>
            </ul>
            <div class="uppercase">Copyright &copy; 2020. All Rights Reserved.</div>
        </div>
    </footer>
{% endblock %}
