@import url('https://fonts.googleapis.com/css?family=Montserrat%3A500%2C700%7CRoboto+Condensed:700%7CRoboto%3A700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Background Spotlight */
body:before {
    background: radial-gradient(ellipse at left top, #1E293B 0%, #000000 70%);
}

/* Tailwind Extension */
@layer utilities {
    .scrollbar-none::-webkit-scrollbar {
        display: none;
    }
}

/* Contact Form */
form {
    width: 100%;
}

form input, form button, form textarea, .button {
    font-size: 14px;
    display: inline-block;
    transition: 0.3s;
    padding: 15px 20px;
    border: 2px solid #313133;
    background-color: transparent;
    color: #808080;
    outline: #FFFFFF;
    width: 100%;
    margin-bottom: 20px;
}

form input:focus, form input:active, form button:focus, form button:active, form textarea:focus, form textarea:active .button:focus, .button:active {
    outline: #808080;
    border-color: #808080;
    background-color: rgba(0, 0, 0, 0.5);
}

form input:hover, form button:hover, form textarea:hover .button:hover {
    border-color: #808080;
    background-color: rgba(0, 0, 0, 0.5);
}

form textarea {
    resize: none;
    height: 230px;
}

form button, .button {
    font-weight: bold;
    width: auto;
    text-transform: uppercase;
    padding: 15px 40px;
    color: white;
}

form button:hover, .button:hover {
    border-color: #FFFFFF;
}

form .checkbox {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

form .checkbox span {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

form .checkbox span:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

form .checkbox input:checked + span {
    background-color: #2196F3;
}

form .checkbox input:checked + span:before {
    transform: translateX(26px);
}
