{% extends 'demo/base.html.twig' %}

{% block title %}Website | Home{% endblock %}

{% block body %}
    {# WORKS #}
    <div class="uppercase absolute left-0 top-1/4 w-3/4 -z-10">
        <a href="#" class="group">
            <span class="text-base font-bold duration-700 ease-in-out ml-8 group-hover:ml-16">My Photo Portfolio</span>
            <hr>
            <span class="text-4xl font-bold duration-700 ease-in-out ml-32 group-hover:ml-24">Explore Works</span>
        </a>
    </div>

    {# CONTACT #}
    <div class="uppercase absolute right-0 top-2/3 w-3/4 text-right -z-10">
        <a href="#" class="group">
            <span class="text-base font-bold duration-700 ease-in-out mr-8 group-hover:mr-16">How to find me</span>
            <hr>
            <span class="text-4xl font-bold duration-700 ease-in-out mr-32 group-hover:mr-24">Contact Me</span>
        </a>
    </div>
{% endblock %}
