<div class="flex flex-row justify-between mx-12 my-6 text-sm">
    <ul class="flex flex-row font-bold">
        <li class="mr-10"><a href="#" class="hover:text-white"><i data-feather="facebook"></i></a></li>
        <li class="mr-10"><a href="#" class="hover:text-white"><i data-feather="twitter"></i></a></li>
        <li class="mr-10"><a href="#" class="hover:text-white"><i data-feather="instagram"></i></a></li>
        <li class="mr-10"><a href="#" class="hover:text-white"><i data-feather="youtube"></i></a></li>
    </ul>
    <div class="uppercase font-bold">Copyright &copy; 2020. All Rights Reserved.</div>
</div>