<footer class="mt-4 mb-8 px-4 flex flex-col text-center w-full h-20 absolute bottom-0
        md:flex-row md:mb-0 md:justify-between">

    <div class="flex flex-row justify-center mb-8">
        {% for social in socials %}
            <a href="{{ social.url|default('#') }}" target="_blank" class="hover:text-white mx-5 h-min" title="{{ social.name }}">
                <i data-feather="{{ social.icon }}"></i>
            </a>
        {% endfor %}
    </div>

    <p class="uppercase font-bold mr-5">&copy;2022 ArchBacon</p>
</footer>